@import "tailwindcss";
@import "tailwindcss/utilities";

@keyframes floatX {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(-70px); }
}

.float-animation { animation: floatX 6s ease-in-out infinite}

@theme {
  --color-primary: #1d4ed8;
  --color-secondary: #ea580c;
  --color-accent: oklch(57.7% 0.245 27.325);
}